{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/create_grade.css' %}">
{% endblock %}

{% block content %}

<div class="info-container">

    <h2 class="califica-a">
        {{ professor.name }}
    </h2>

    <h3 class="course-name">
        Curso: {{ professor_course.course.name_course }}
    </h3>

    {% if error %}
    <div class="error-message">
        {{ error }}
    </div>
    {% endif %}

    {% if form.non_field_errors %}
    <div class="error-message">
        {{ form.non_field_errors }}
    </div>
    {% endif %}

    <div class="note">
        <p>Antes de calificar:</p>

        <p class="text-fill">
            Te recomendamos leer primero la <a class="link-description" href="#description-container">descripción</a> de
            cada ítem antes de
            marcar tu calificación.
            Recuerda que cada calificación ayuda a construir una valoración justa y útil para todos.
        </p>
    </div>

</div>

<div class="container">

    <form method="POST" class="form-card">
        {% csrf_token %}

        {% for field in form %}

        <div class="form-group">

            {{ field.label_tag }}

            {% if field.name == "comment" %}
            {{ field }}
            {% else %}
            <!-- Estrellas -->
            <div class="star-rating" data-field="{{ field.id_for_label }}">
                {% for i in "12345" %}
                <span data-value="{{ forloop.counter }}">☆</span>
                {% endfor %}
            </div>

            <!-- Input oculto -->
            <div style="display:none;">
                {{ field }}
            </div>
            {% endif %}

            {% if field.errors %}
            <div class="error">
                {{ field.errors }}
            </div>
            {% endif %}

        </div>

        {% endfor %}

        <button type="submit" class="btn-submit">
            Enviar calificación
        </button>

    </form>

    <div class="description-container" id="description-container">

        <p class="description-title">
            <b>Descripción de los ítems de calificación</b>
        </p>

        <p class="description"><b>Puntualidad:</b> El profesor asiste y finaliza su clase de acuerdo al horario
            establecido.</p>
        <p class="description"><b>Ambiente de clase:</b> El profesor mantiene un ambiente agradable y entretenido.</p>
        <p class="description"><b>Empatía:</b> El profesor es comprensivo con los alumnos en situaciones particulares.
        </p>
        <p class="description"><b>Evalúa contenidos:</b> El profesor considera lo desarrollado en clases en sus
            prácticas y/o exámenes.</p>
        <p class="description"><b>Acces. de exámenes:</b> El profesor evalúa con pruebas fáciles de resolver.</p>
        <p class="description"><b>Cumple el sílabo:</b> El profesor toma en cuenta los temas, sugerencias y fechas del
            sílabo.</p>
        <p class="description"><b>Coherencia en calificación:</b> El profesor asigna puntajes coherentes en la
            corrección.</p>
        <p class="description"><b>Material didáctico:</b> El profesor proporciona diapositivas, videos, artículos, etc.
        </p>

    </div>

</div>

<script src="{% static 'javascript/star_rating.js' %}"></script>

{% endblock %}