{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/create_grade.css' %}">
<link rel="stylesheet" href="{% static 'css/edit_grade.css' %}">
{% endblock %}

{% block content %}

<div class="container">

    <h2 class="edita-a">
        Editar tu calificación para <b>{{ professor.name }}</b>
    </h2>

    <p class="course-name">
        Curso: <b>{{ course.name_course }}</b>
    </p>

    <form method="POST" class="form-card">

        {% csrf_token %}

        {% for field in form %}
        <div class="form-group">

            {{ field.label_tag }}

            {% if field.name == "comment" %}
            {{ field }}
            {% else %}
            <!-- Estrellas -->
            <div class="star-rating" data-field="{{ field.id_for_label }}">
                {% for i in "12345" %}
                <span data-value="{{ forloop.counter }}">☆</span>
                {% endfor %}
            </div>

            <!-- Input oculto -->
            <div style="display:none;">
                {{ field }}
            </div>
            {% endif %}

            {% if field.errors %}
            <div class="error">
                {{ field.errors }}
            </div>
            {% endif %}

        </div>
        {% endfor %}

        <button type="submit" class="btn-guardar">
            Guardar cambios
        </button>

        <a href="{% url 'profile_professor' professor.id %}" class="btn-cancelar">
            Cancelar
        </a>

    </form>

</div>

<!-- reutiliza el mismo JS -->
<script src="{% static 'javascript/star_rating.js' %}"></script>

{% endblock %}