{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/my_grades.css' %}">
{% endblock %}

{% block content %}

<div class="my_grades">

    <h1 class="title">Mis calificaciones</h1>

    <div class="table-container">
        {% if grades %}
        <table>

            <thead class="grades">
                <tr>
                    <th class="label">Profesor</th>
                    <th class="label">Curso</th>
                    <th class="label">Acciones</th>

                </tr>
            </thead>

            <tbody class="content">

                {% for grade in grades %}

                <tr>

                    <td>
                        <a class="name" href="{% url 'profile_professor' grade.professorcourse.professor.id %}">
                            {{ grade.professorcourse.professor.name }}
                        </a>
                    </td>

                    <td class="course">
                        {{ grade.professorcourse.course.name_course }}
                    </td>


                    <td class="actions">
                        <div class="actions-container">
                            <a href="{% url 'editgrade' grade.id %}" class="btn-edit">
                                Editar
                            </a>
                            <form method="post" action="{% url 'delete_grade' grade.id %}">
                                {% csrf_token %}
                                <button class="btn-delete">Eliminar</button>
                            </form>

                        </div>
                    </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>
        {% else %}
    </div>


    <p class="no-grades">
        Aún no has calificado a tus profesores.
        Ir a <a href="/professors/">profesores</a>.
    </p>

    {% endif %}

</div>

{% endblock %}