body {
  background: white;
  display: flex;
  flex-direction: horizontal;
}
/* Contenedor principal */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
}

/* Estilos del formulario */

.form-group {
  margin-bottom: 20px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

form label {
  font-size: 14pt;
  font-weight: bold;
  color: #ffae00;
  display: block;
  margin-bottom: 8px;
}

form input,
form select {
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 8px;
  margin-bottom: 12px;
  width: 80px;
}

form textarea {
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
  min-width: 300px;
  border-radius: 10px;
  font-size: 11pt;
  border: 1px solid #ccc;
  field-sizing: content;
}

/* Estilos del botón */
.btn-submit {
  background-color: #007bff;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.btn-submit:hover {
  background-color: #0056b3;
}

option {
  border-style: none;
}
.califica-a {
  margin: 0;
  padding: 0;
  font-size: 18pt;
  font-style: italic;
  color: #00356d;
}
.note {
  color: #00356d;
  box-sizing: border-box;
  padding: 5px;
}
.text-fill {
  text-align: justify;
}

.description-container {
  text-align: justify;
  color: #00356d;
}
.description-title {
  text-align: center;
  font-size: 14pt;
}
