.edit-grade-container {
  align-items: center;
}

.edita-a {
  color: #00356d;
}
.form-group {
  margin-bottom: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.btn-guardar {
  background-color: #007bff;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}
.btn-guardar:hover {
  background-color: #0056b3;
}
.btn-cancelar {
  color: white;
}
