.content-all {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 15px;
}
.body-content {
  box-sizing: border-box;
  text-align: center;
  padding: 0;
  width: 350px;
  height: 450px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.alert-warning {
  text-align: center;
  color: black;
  padding: 2px;
}
.title-login {
  font-size: 18pt;
  text-align: center;
  font-weight: 800;
  color: white;
  margin: 0;
  padding-top: 20px;
}
.login-content {
  background: linear-gradient(180deg, #962234, #90091d);
  padding: 20px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
h2 {
  text-align: center;
  font-size: 18pt;
  font-weight: 800;
  margin: 0;
  color: rgb(240, 240, 240);
}
.img-fqiq {
  box-sizing: border-box;
  width: 350px;
  scale: 1.25;
}

.google-btn,
.btn-logout {
  box-sizing: border-box;
  width: 280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
  background-color: white;
  color: #4285f4;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  gap: 5px;
}
.btn-logout :hover {
  scale: 1.5;
}

.link-login :hover {
  background: rgb(185, 185, 185);
  color: white;
}
.link-login {
  text-decoration: none;
}

.img-google {
  height: 20px;
}

.text-login {
  margin: 0;
}

.nota {
  font-size: 10pt;
  font-style: italic;
  box-sizing: border-box;
  text-align: justify;
  margin: 0;
  padding: 10px;
  color: rgb(232, 232, 232);
}

.information {
  box-sizing: border-box;
  padding: 5px 10px;
}

.beneficios {
  box-sizing: border-box;
  margin: 10px 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: space-around;
}
h3 {
  color: #f1f1f1;
  text-align: center;
  font-size: 18pt;
  margin: 0;
}
.card {
  box-sizing: border-box;
  max-width: 400px;
  padding: 5px 15px;
  text-align: justify;
  border-radius: 20px;
  background-color: #ffffff1d;
  box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.5);
}
.title {
  font-weight: 800;
  color: #ffae00;
  font-size: 12pt;
  text-align: center;
  margin: 0;
  margin-top: 10px;
  padding: 0;
}
.description {
  font-size: 10pt;
  color: #f1f1f1;
  padding: 10px;
  margin: 0;
}
