.my_grades {
  box-sizing: border-box;
  padding: 5px;
  justify-content: center;
}

/* TÍTULO */
.title {
  font-size: 20pt;
  text-align: center;
  color: #ffae00;
}

/* TABLA */
table {
  margin: 0;
  background-color: #ffffff1d;
  border-radius: 16px;
  padding: 10px;
  border-collapse: collapse;
  overflow-x: auto;
}

/* CABECERA */
thead {
  background-color: #ffffff1d;
}

th {
  font-size: 11pt;
  color: #f1f1f1f1;
  padding: 10px;
  text-align: center;
}

/* CONTENIDO */

tr {
  box-sizing: border-box;
  padding: 10px;
  align-items: center;
}
td {
  width: 320px;
  padding: 10px;
  font-size: 10pt;
  border-top: 1px solid #eee;
  vertical-align: middle;
  text-align: justify;
  justify-content: center;
}

/* LINKS */
.name {
  text-decoration: none;
  color: #f1f1f1f1;
  font-weight: 500;
}

.name:hover {
  text-decoration: underline;
}

.course {
  color: #f1f1f1f1;
}

/* ACCIONES */
.actions {
  font-size: 10pt;
  height: 30px;
}

.actions-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
}

/* BOTONES */
.btn-edit {
  text-decoration: none;
  font-size: 10pt;
  padding: 5px 10px;
  border-radius: 12px;
  background-color: #00356d;
  color: white;
}

.btn-edit:hover {
  background-color: #00264d;
}

.btn-delete {
  color: white;
  background-color: #d11a2a;
  border: none;
  padding: 5px 10px;
  border-radius: 12px;
  cursor: pointer;
}

.btn-delete:hover {
  background-color: #a50f1d;
}

/* MENSAJE VACÍO */
.no-grades {
  text-align: center;
  font-size: 12pt;
  margin-top: 20px;
}

@media (max-width: 490px) {
  .my_grades {
    box-sizing: border-box;
    width: 410px;
    padding: 20px;
  }

  .actions-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
}
