h3 {
  text-align: center;
  padding: 5px;
  margin: 0;
  font-size: 20px;
  font-weight: 800;
  color: #ffae00;
}

.container {
  box-sizing: border-box;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
  align-items: center;
}
.search {
  background-color: #f1f1f1f1;
  color: #00356d;
  box-sizing: border-box;
  width: 280px;
  padding: 15px 20px;
  margin: auto;
  border: none;
  border-radius: 25px;
  background-repeat: no-repeat;
  box-shadow: 5px 5px 10px #00356d6c;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;
  gap: 20px;
}
.horizontal-card {
  width: 100%;
  width: 350px;
  padding: 15px;
  background: #ffffff1d;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}
@media (max-width: 750px) {
  .horizontal-card {
    width: 300px;
  }
}

.photo-container :hover {
  scale: 1.08;
  transition: 0.5s;
}

.horizontal-link {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.professor-photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.info-container {
  flex: 1;
}

.name {
  color: #f1f1f1;
  text-align: center;
  font-size: 13pt;
  font-weight: bold;
  margin: 0;
}

.stars {
  font-size: 13pt;
}

.cursos {
  font-size: 10pt;
  color: #f1f1f1;
  margin: 6px 0;
  text-align: justify;
  padding: 0 15px;
}

.general-rating {
  text-align: center;
  margin-top: 8px;
  font-size: 10pt;
  color: #ffae00;
}

.general-rating .avg {
  font-size: 10pt;
  margin-left: 6px;
}

.alternative,
.agregar-prof {
  color: #f1f1f1f1;
  text-align: center;
  margin: 5px;
}

.alternative-container {
  padding: 10px;
}
